---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Features from '../components/Features.astro';
import Benefits from '../components/Benefits.astro';
import RecentPosts from '../components/RecentPosts.astro';
import RegisterInterest from '../components/RegisterInterest.astro';
---

<Layout title="Slate Social - Social Media for Climbing Gyms">
  <main class="flex flex-col min-h-screen">
    <Hero />
    <About />
    <Features />
    <Benefits />
    <RecentPosts />
    <RegisterInterest />
  </main>
</Layout>
